body { 
  font-family:"Segoe UI", sans-serif;
  background-color: #f4f4f4;
  color:#0C0C0C;
  margin: 0;
  padding: 0;
  font-size: 1rem;

}

header { 
  background-color: black;
  color: #df1a1a;
  padding: 20px;
  min-height: 180px;
  font-size: 2.5rem;

}

main {
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #bb5757;
}


footer {
  background-color: #0C0C0C;
  color: #f4f4f4;
  text-align: center;
  padding: 20ox 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

nav {
  background-color:#0C0C0C;
  padding: 1rem;
}

.page-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.page-links a {
  color:#f4f4f4;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.page-links a:hover {
  background-color: #bb5757;
}

.page-links a.active {
  background-color: #bb5757;
  color:#f4f4f4
}
