body { 
  font-family:"Segoe UI", sans-serif;
  background-color: #f4f4f4;
  color:#0C0C0C;
  margin: 0;
  padding: 0;
  font-size: 1rem;

}

header { 
  background-color: black;
  color: #df1a1a;
  padding: 20px;
  min-height: 180px;
  font-size: 2.5rem;

}

main {
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #bb5757;
}


footer {
  background-color: #0C0C0C;
  color: #f4f4f4;
  text-align: center;
  padding: 20ox 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

