body { 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:ivory;
  color :rgb(37, 34, 34);
  margin: 0;
  padding: 0;

}

header { 
  position: relative;
  color:crimson;
  padding: 20px;
  min-height: 180px;

}

.header-content {
  max-width : 1000px;
  margin: 0 auto;
  text-align:center;

}
